@{
    ViewData["Title"] = "Full Pokemon Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="text-center card-content-details border-0 white-border" >
                <img src="/images/@(Model.Number).png" class="img-fluid" width="300px" style="max-width: 100%; height: auto;" />
                <h1 style="font-size: 30px;">@Model.Name</h1>
            </div>
        </div>


    <div class="col-md-6" style="font-size: 25px;">
      <h2>Details</h2>
      <table class="table animated-table">
        <tr>
          <th>Property</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>Number</td>
          <td>@Model.Number</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>@Model.Name</td>
        </tr>
        <tr>
          <td>Type 1</td>
          <td class="uppercase">@Model.Type1</td>
        </tr>
        <tr>
          <td>Type 2</td>
          <td class="uppercase">@Model.Type2</td>
        </tr>
        <tr>
          <td>Height</td>
          <td>@Model.Height</td>
        </tr>
        <tr>
          <td>Weight</td>
          <td>@Model.Weight</td>
        </tr>
        <tr>
          <td>HP</td>
          <td>@Model.HP</td>
        </tr>
        <tr>
          <td>Attack</td>
          <td>@Model.Attack</td>
        </tr>
        <tr>
          <td>Defense</td>
          <td>@Model.Defense</td>
        </tr>
        <tr>
          <td>Special</td>
          <td>@Model.Special</td>
        </tr>
        <tr>
          <td>Speed</td>
          <td>@Model.Speed</td>
        </tr>
      </table>
    </div>
  </div>
</div>

