@{
    Layout = "_Layout";
}

@model List<Pokemon>

<div class= "container">
    <h1>Pokedex Search</h1>
        @using (Html.BeginForm("Search", "Pokemons", FormMethod.Post ))
        {
            <div class="input-group">
                <input type="text" class="form-control mx-5" name="name" placeholder="Search by Pokémon name" />
                <div class="input-group-append">
                    <button type="submit" class="btn customBtn border me-3"><span class="hoverRed">Sea</span> <span class="hoverWhite">rch</span></button>
                    <button class="btn border me-5" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse">
                        Filters
                    </button>
                </div>
        </div>
                <div id="filterCollapse" class="collapse">

            @foreach(var type in ViewBag.Types)
            {
                <div class="checkbox-container @type.Key type-checkbox" data-type="@type.Key" >
                    @* pass both types in the data-id *@
                    <input 
                        type="checkbox" 
                        name="types" 
                        value="@type.Value" 
                        class="custom-checkbox"
                    />
                    <label for="@type.Key" class="@type.Key type-label">@type.Key</label>
                </div>
            }
                </div>
        }
    </div>

    <div id="pokemonContainer" class="card-container">
        @await Html.PartialAsync("_PokemonList", Model)
    </div>
</div>

<p>@Html.ActionLink("Home", "Index", "Home")</p>

